@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;} 
.fleft{ float:left;}
.fright{ float:right;}
.clearb{ clear:both;}
p{ margin:0; padding:0;}
.w50{ width:50%;}
.padd15{ padding:15px;}
.padd10{ padding:5px 15px 5px 15px;}
.w79{ width:79% !important;}

.main{ width:98; margin:0 auto;}

table{ margin:0; padding:0;}
table td{ margin:0; padding:0; height:25px;}
table th{ margin:0; padding:0; height:35px; background:#f5f5f5; border:solid 1px #f0f0f0; font-size:16px; padding-left:15px; color:#333;}
table input{background:#f7f7f7; border:solid 1px #ccc; height:25px; width:88%;}
table .inputnew{background:#fff; border:none; border-bottom:dotted 1px #ccc; height:25px; width:100%;}
table .textarea{ background:noone; border:none; width:97%; padding:5px 15px; min-height:100px;}
table .textarea1{ background:noone; border:none; width:97%; padding:5px 15px; min-height:150px;} 
table .textarea2{ background:noone; border:none; width:95%; padding:5px 15px; min-height:150px;} 

.border{ border:solid 1px #d9d9d9;}
.borderright{ border-right:solid 1px #f0f0f0;}
.bordernone{ border:none;}
.lab{ font-size:14px; color:#00688a; font-weight:bold;}
.belowinput{background:#fff; border:solid 1px #ccc; height:25px; width:30%;}

.ui-datepicker-trigger{ vertical-align:top !important; padding-left:10px;}
.hasDatepicker { width:30% !important;}
.savebtn{background:#e5e5e5; border:solid 1px #d9d9d9; height:30px; width:7%; font-size:16px; line-height:30px; font-weight:bold; font-family:Verdana, Geneva, sans-serif; color:#4c4c4c;}